<h1>Editing book</h1>

<%= render "form", book: @book %>

<br>

<div>
<<<<<<< HEAD
<%= link_to "Back to books", books_path %> |
  <%= link_to "Show this book", @book %>
=======
  <%= link_to "Show this book", @book %> |
  <%= link_to "Back to books", books_path %>
>>>>>>> 2db0cf17267f3196d0aed2a2031fc6b2392ec2a5
</div>
