<p style="color: green"><%= notice %></p>

<h1>Books</h1>
  <table style="width:100%">
    <tr id="header" className="header">
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Published Date</th>
      <th>Actions</th>
    </tr>
    <% @books.each do |book| %>
      <tr id="books" style="text-align: center">
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.price %></td>
        <td><%= book.published_date %></td>
        <td>
          <%= link_to "Show this book", book %>
          <%= link_to "Edit this book", edit_book_path(book) %>
          <%= link_to "Delete this book", delete_book_path(book) %>
        </td>
      </tr>
  <% end %>
  </table>

<%= link_to "New book?", new_book_path %>
<%= link_to "Back to User Books", user_books_path %>
